.grid-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.grid-col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.grid-col:first-child { margin-left: 0; }


.grid-group:before,
.grid-group:after {
	content: "";
	display: table;
}
.grid-group:after {
	clear:both;
}
.grid-group {
    zoom:1; /* For IE 6/7 */
}

.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.grid-col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
