@import '_reset.scss';
@import '_mixins.scss';
@import '_typography.scss';
@import '_grid.scss';

$primary-color: #FEFEFE;
$secondary-color: #3B3C40;

body {
    @include raleway-regular;
    background-color: $secondary-color;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#sidebar {
    @include left-sidebar;
    height: 100%;
    width: 40%;
    background-color: $primary-color;
    text-align: center;
    border-right: 5px solid #aaa;

    #name {
        @include raleway-bold;
        font-size: 26pt;
        text-transform: uppercase;
        text-align: left;
        padding: 20px;
    }

    #bio {
        text-align: left;
        padding: 20px;

        strong {
            @include raleway-bold;
        }
    }

    #links {
        list-style-type: none;
        width: 100%;
        display: table;
        margin-top: 150px;

        li {
            display: table-row;
            line-height: 20px;

            label {
                @include raleway-bold;
                display: table-cell;
                width: 50%;
                text-align: left;

            }

            a {
                display: table-cell;
                width: 50%;
                text-align: right;
            }
        }
    }
}


#content {
    background-color: $secondary-color;
    margin: 0 0 0 40%;

    #experiences {
        padding-left: 20px;

        article {
            color: #fff;
        }
    }
}

.title {
    @include raleway-bold;
    text-transform: uppercase;
    font-size: 16pt;
    color: #00994d;
    padding: 20px;
}
