doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title My Portfolio

        // CSS Section
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,500")
        link(rel="stylesheet", href="./assets/css/page.css")

    body
        header#header
            h1 Jean Pierre Dudey
            p Software Developer

            img#my-picture(alt="Me", src="./assets/img/my-picture.jpg")

        footer#footer
            p Copyright (C) 2016 Jean Pierre Dudey


        script(src="./node_modules/fontfaceobserver/fontfaceobserver.js", defer)
        script(src="./node_modules/picturefill/dist/picturefill.js" defer)
        script(src="./assets/js/app.js")
