<section class="about">
	<img src="{{ "portfolio.png" | relURL }}" alt="{{ .Site.Params.name }}">
	<h2>{{ .Site.Params.name }}</h2>
	<p class="tagline">{{ .Site.Params.tagline }}</p>
	<nav class="site-nav">
		<a href="{{ "/" | relURL }}"{{ if .IsHome }} class="active"{{ end }}>Blog</a>
		<a href="{{ "projects/" | relURL }}"{{ if eq .Section "projects" }} class="active"{{ end }}>Projects</a>
		<a href="{{ "about/" | relURL }}"{{ if eq .Section "about" }} class="active"{{ end }}>About</a>
	</nav>
	<ul class="social">
		{{- with .Site.Params.social.github }}
		<a href="https://github.com/{{ . }}">
			<li><i class="icon-github-circled"></i></li>
		</a>
		{{- end }}
		{{- with .Site.Params.social.twitter }}
		<a href="https://twitter.com/{{ . }}">
			<li><i class="icon-twitter-squared"></i></li>
		</a>
		{{- end }}
		{{- with .Site.Params.social.linkedin }}
		<a href="https://linkedin.com/in/{{ . }}">
			<li><i class="icon-linkedin-squared"></i></li>
		</a>
		{{- end }}
	</ul>
	<p>&copy; {{ now.Year }}</p>
</section>
